<template>
  <VTable height="250">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <!-- <th>Protein (g)</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, index) in desserts" :key="item.dessert">
        <td>{{ item.id }}</td>
        <td class="text-center">{{ item.email }}</td>
        <td class="text-center">{{ item.first_name }}</td>
        <td class="text-center">{{ item.last_name }}</td>
        <!-- <td class="text-center">{{ item.protein }}</td> -->
        <td class="text-center">
          <VBtn @click="edit(item)">Edit</VBtn>
          <VBtn @click="remove(item)">Delete</VBtn>
        </td>
      </tr>
    </tbody>
  </VTable>
</template>

<script setup>
// import { defineProps, emit } from "vue";

// const props = defineProps(["desserts"]);
// const emit = defineEmits(["edit", "delete"]);

// function edit(item) {
//   const index = props.desserts.indexOf(item);
//   emit("edit", index);
// }

// function remove(item) {
//   const index = props.desserts.indexOf(item);
//   emit("delete", index);
// }
</script>
