<div *ngIf="viewMode; else editable">
  <div *ngIf="currentTutorial.id">
    <h4>Users</h4>
    <div>
      <label><strong>First Name:</strong></label> {{ currentTutorial.first_name }}
    </div>
    <div>
      <label><strong>Last Name:</strong></label>
      {{ currentTutorial.last_name }}
    </div>
    <div>
      <label><strong>Email:</strong></label>
      {{ currentTutorial.email }}
    </div>

    <a class="badge badge-warning" routerLink="/tutorials/{{ currentTutorial.id }}">
      Edit
    </a>
  </div>

  <div *ngIf="!currentTutorial">
    <br />
    <p>Please click on a Tutorial...</p>
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentTutorial.id" class="edit-form">
    <h4>Users</h4>
    <form>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" [(ngModel)]="currentTutorial.first_name"
          name="firstName" />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="currentTutorial.last_name" name="lastName" />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="currentTutorial.email" name="email" />
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteTutorial()">
      Delete
    </button>

    <button type="submit" class="badge badge-success mb-2" (click)="updateTutorial()">
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentTutorial.id">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>
</ng-template>