<template>
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h4 class="mt-3">Add User</h4>
      </div>
      <div class="card-body">
        <form @submit.prevent="createUser">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" v-model="userData.name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" v-model="userData.email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" v-model="userData.password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      userData: {
        name: "",
        email: "",
        password: ""
      },
      errors: {}
    };
  },
  methods: {
    createUser() {
      if (this.userData.password.length < 8) {
        console.error('Password must be at least 8 characters long');
        return;
      }

      axios.post("http://localhost:8000/api/users", this.userData)
        .then(response => {
          console.log(response.data);
          this.$router.push('/users/create');
        })
        .catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          } else {
            console.error('Error creating user:', error);
          }
        });
    }
  }
};
</script>
