<template>
    <div class="container">
        <div class="card mt-5">
            <div class="card-header">
                <h4>Edit User</h4>
            </div>
            <div class="card-body">
                <form @submit.prevent="updateUser">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" v-model="userData.name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" v-model="userData.email">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "EditUser",
    data() {
        return {
            userData: {
                name: "",
                email: ""
            },
            errors: {}
        };
    },
    mounted() {
        const userId = this.$route.params.id;
        this.getUser(userId);
    },
    methods: {
        getUser(id) {
            axios.get(`http://localhost:8000/api/users/${id}`)
                .then(response => {
                    this.userData = response.data;
                })
                .catch(error => {
                    console.error('Error fetching user data:', error);
                });
        },
        updateUser() {
            axios.patch(`http://localhost:8000/api/users/${this.userData.id}`, this.userData)
                .then(response => {
                    console.log(response.data);
                    this.$router.push('/users');
                })
                .catch(error => {
                    console.error('Error updating user:', error);
                });
        }
    }
};
</script>