<template>
  <VRow>
    <VCol cols="12">
      <VCard>
        <VRow>
          <VCol cols="11">
            <VCardTitle>Vue CRUD</VCardTitle>
          </VCol>
          <VCol cols="1" class="text-right">
            <VCardActions>
              <VBtn @click="openDialog('create')" color="primary"> Create User </VBtn>
            </VCardActions>
          </VCol>
        </VRow>

        <!-- VDataTable for displaying users -->
        <VDataTable :headers="headers" :items="users" item-key="_id">
          <template v-slot:item.actions="{ item }">
            <VBtn @click="openDialog('edit', item._id)" icon small>
              <VIcon>mdi-pencil</VIcon>
            </VBtn>
            <VBtn @click="confirmDelete(item._id)" icon small>
              <VIcon>mdi-delete</VIcon>
            </VBtn>
          </template>
        </VDataTable>
      </VCard>
    </VCol>
  </VRow>

  <!-- Dialog for user creation/editing -->
  <VDialog v-model="dialog" max-width="600px">
    <VCard>
      <VCardTitle>{{ isEditMode ? "Edit User" : "Create User" }}</VCardTitle>
      <VCardText>
        <VTextField
          v-model="user.firstName"
          label="First Name"
          class="padded-text-field"
        />
        <VTextField v-model="user.lastName" label="Last Name" class="padded-text-field" />
        <VTextField v-model="user.email" label="Email" class="padded-text-field" />
      </VCardText>
      <VCardActions>
        <VBtn @click="saveUser" color="primary"> Save </VBtn>
        <VBtn @click="closeDialog" color="secondary"> Cancel </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>

  <!-- Confirmation Dialog for deletion -->
  <VDialog v-model="confirmDialog" max-width="290">
    <VCard>
      <VCardTitle>Confirm Deletion</VCardTitle>
      <VCardText>Are you sure you want to delete this user?</VCardText>
      <VCardActions>
        <VBtn @click="deleteUser(confirmedUserId)" color="primary"> OK </VBtn>
        <VBtn @click="closeConfirmDialog" color="secondary"> Cancel </VBtn>
      </VCardActions>
    </VCard>
  </VDialog>
</template>

<script setup>
import { ref, onMounted } from "vue";
import userService from "@/services/userService";
import { useToast } from "vue-toast-notification"; // Import useToast from 'vue-toast-notification'

// Create a toast instance
const toast = useToast();

// Reactive references
const dialog = ref(false);
const confirmDialog = ref(false);
const isEditMode = ref(false);
const confirmedUserId = ref(null);

const user = ref({
  firstName: "",
  lastName: "",
  email: "",
  id: null,
});

const users = ref([]);
const headers = ref([
  { text: "First Name", value: "firstName" },
  { text: "Last Name", value: "lastName" },
  { text: "Email", value: "email" },
  { text: "Actions", value: "actions", sortable: false },
]);

// Fetch users from API
async function fetchUsers() {
  try {
    const response = await userService.getUsers();
    users.value = response.data;
  } catch (error) {
    console.error("Error fetching users:", error);
    toast.error("Error fetching users");
  }
}

// Open dialog for creating or editing a user
function openDialog(mode, userId = null) {
  if (mode === "edit" && userId) {
    isEditMode.value = true;
    loadUserForEdit(userId);
  } else {
    isEditMode.value = false;
    resetUser();
  }
  dialog.value = true;
}

// Load user data into form for editing
async function loadUserForEdit(userId) {
  try {
    const response = await userService.getUser(userId);
    user.value = {
      firstName: response.data.firstName,
      lastName: response.data.lastName,
      email: response.data.email,
      id: response.data._id,
    };
  } catch (error) {
    console.error("Error fetching user for edit:", error);
    toast.error("Error fetching user for edit");
  }
}

// Close dialog and reset user form
function closeDialog() {
  dialog.value = false;
  resetUser();
}

// Save user to API (create or update)
async function saveUser() {
  try {
    const userData = {
      email: user.value.email,
      firstName: user.value.firstName,
      lastName: user.value.lastName,
    };

    if (isEditMode.value) {
      await userService.updateUser(user.value.id, userData);
      toast.success("User updated successfully");
    } else {
      await userService.createUser(userData);
      toast.success("User created successfully");
    }

    await fetchUsers(); // Refresh the user list
    closeDialog();
  } catch (error) {
    console.error("Error saving user:", error);
    toast.error("Error saving user");
  }
}

// Reset user form fields
function resetUser() {
  user.value = {
    firstName: "",
    lastName: "",
    email: "",
    id: null,
  };
}

// Open confirmation dialog for deletion
function confirmDelete(userId) {
  confirmedUserId.value = userId;
  confirmDialog.value = true;
}

// Delete user and refresh list
async function deleteUser(userId) {
  if (!userId) {
    console.error("Invalid userId:", userId);
    return;
  }
  try {
    await userService.deleteUser(userId);
    toast.success("User deleted successfully");
    await fetchUsers(); // Refresh the user list
  } catch (error) {
    console.error("Error deleting user:", error);
    toast.error("Error deleting user");
  }
  closeConfirmDialog();
}

// Close confirmation dialog
function closeConfirmDialog() {
  confirmDialog.value = false;
  confirmedUserId.value = null;
}

// Fetch users when the component is mounted
onMounted(fetchUsers);
</script>

<style scoped>
.padded-text-field {
  padding: 10px;
}
</style>
